*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #ecf0f1;
}
/*Top navigation */
.top-nav {
    font-size: 12px;
    background: #34495e;
    height: 30px;
    line-height: 30px;
}

.top-nav ul {
    list-style-type: none;
    text-align: right;
    padding-right: 50px;
}

.top-nav ul li {
    display: inline-block;
    padding: 0 10px 0 10px;   
}

.top-nav ul li a{
    color: white;
    text-decoration: none;
}

/* End of top navigation*/

/* Header*/
header {
    font-size: 16px;
    text-transform: uppercase;
    
}

.banner {
    height: 160px;
    width: 100%;
    background:url(../img/logo.png);
    background-position: center;
    background-size: auto ;
    background-repeat: no-repeat;
    cursor: pointer;
}

.main-menu {
    border-top: 1px solid #b2bec3;
    border-bottom: 1px solid #b2bec3;
    text-align: center;
    background-color: white;
    height: 50px;
    line-height: 50px;
    outline: 0;
}

.main-menu ul li{
    padding: 0 15px 0 15px;
    display: inline-block;
    position: relative;
}

.main-menu ul li a {
}

/*End of header*/

/* List topics*/
.container {
    margin-top: 50px;
}

.img-container {
    overflow: hidden;
}

.normal-img {
    width: 100%;
    max-height: 200px;
    transition: 0.75s ease;
}

.normal-img:hover {
    transform: scale(1.1);
    transition: 0.75s;
}


/* End of list of topics */

/*Footer*/
footer {
    min-height: 200px;
}

footer img {
    height: 100px;
    margin: 10px 30px;
}
/*End of footer*/


/* Decorations */
.small-txt {
    font-size: 11px;
    font-style: italic;
}
/* End of decorations*/

